{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Empower Your Body, Empower Your Life</h1>
                    <h2>Stronger Inside and Out, Build physical strength while developing mental resilience and
                        discipline</h2>
                    <div class="d-flex w-50 justify-content-between">
                        <a href="{% url 'survey' %}" class="btn-get-started scrollto">Get Started</a>
                        {% if request.user.is_anonymous %}

                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="{% static 'images/healthybody.avif' %}" height="400px" width="600px" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><img src="{% static 'images/food1.jpg' %}" height="80px" width="80px"/>
                            </div>
                            <h4 class="title"><a href="">+1000 Healthy meal</a></h4>
                            <p class="description">GymTime offers an extensive collection of recipes, meal plans, or
                                resources to support a balanced and wholesome diet. With such a variety of healthy meal
                                choices, users can find inspiration and ideas for their dietary needs, preferences, and
                                goals.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="{% static 'images/workout.jpg' %}" height="80px" width="80px"/>
                            </div>
                            <h4 class="title"><a href="">+1000 Activity</a></h4>
                            <p class="description">there are over a thousand different activities included in whatever
                                context or resource it refers to. These activities could span various categories such as
                                leisure, entertainment, educational, physical, creative, or social pursuits.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><img src="{% static 'images/advice.jpg' %}" height="80px" width="80px"/>
                            </div>
                            <h4 class="title"><a href="">+1000 Health tips </a></h4>
                            <p class="description">Health Tips aims to provide a diverse selection of advice that caters
                                to different individuals and their specific health goals. Whether someone is looking to
                                lose weight, manage a chronic condition, enhance their mental health, or simply lead a
                                healthier lifestyle,</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Featured Services Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="{% static 'images/salleGYm.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>GymTime</h3>
                        <p class="fst-italic">
                            Improve your health and exercise routine
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> provide advice and tips from qualified experts,
                                including healthcare professionals, nutritionists, fitness trainers, and wellness
                                coaches. These experts share their knowledge and experience, offering reliable and
                                evidence-based information to help you make informed decisions about your health.
                            </li>
                            <li><i class="bi bi-check-circle"></i> Allows you to sync your eating and activity data.
                                This integration can provide a comprehensive view of your overall health and help you
                                understand the relationship between your diet, physical activity and well-being.
                            </li>
                            <li><i class="bi bi-check-circle"></i> Staying informed about advancements can help you make
                                well-informed decisions about your health and explore new treatment options.
                            </li>
                        </ul>
                        <p>
                            Remember that the availability of these features may vary depending on the specific workout
                            app, fitness equipment, or program you choose to use.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>User</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Hard Workers</p>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <span>Contact</span>
                    <h2>Contact</h2>

                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Chemin des crètes ex INES Mostaganem</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>admin.fseimoodle@univ-mosta.dz</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+213 45 36 64 72</p>
                            </div>

                            <iframe src=https://www.google.com/maps/place/Facult%C3%A9+des+sciences+exactes+et+de+l'informatique+Universit%C3%A9+de+Mostaganem+-+Site+2+-+Zaghloul/@35.9148345,0.0884027,15z/data=!4m6!3m5!1s0x12820209fe20c56b:0x5e8633c2989ef5fd!8m2!3d35.9148345!4d0.0884027!16s%2Fg%2F11_q328sz?entry=ttu"
                                    frameborder="0" style="border:0; width: 100%; height: 290px;"
                                    allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6 mt-3 mt-md-0">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
{% endblock %}
