{% extends 'base.html' %}
{% block content %}

}
<section></section>

<main id="main">

    <div class="container">
        <h2 class="text-center"><strong> User Informations</strong></h2>


        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ user.user.get_full_name }}</td>
            </tr>
            <tr>
                <th scope="row">Age</th>
                <td>{{ user.age }}years</td>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td>{{ user.weight }}kg</td>
            </tr>
            <tr>
                <th scope="row">height</th>
                <td>{{ user.height }}cm</td>
            </tr>

            </tbody>
        </table>


        <h2 class="text-center"><strong> Informations table</strong></h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">BMI</th>
                <th scope="col">activity level</th>
                <th scope="col">Calories calculated</th>
                <th scope="col">Macronutrient Ratios</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ bmi |floatformat:2 }}</td>
                <td>{{ user.get_activity }}</td>
                <td>{{ calorie_intake.calory_intake |floatformat:2 }}</td>
                <td>Fat: {{ calorie_intake.fat |floatformat:2 }}g, Carbs: {{ calorie_intake.carbs |floatformat:2
                    }}g,
                    Protein: {{ calorie_intake.protein |floatformat:2 }}g
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-success" role="alert">
            {{ bmi_rec }}
        </div>
        <div class="container">
            <h2 class="text-center"><strong> Week Schedule</strong></h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="sticky-col">Day</th>
                    <th>Workout Program</th>
                    <th>Food Program</th>
                </tr>
                </thead>
                <tbody>
                {% for day in schedule %}
                <tr>
                    <td class="sticky-col">{{ day.day }}</td>
                    <td class="text-center"><strong>{{ day.workout.title }}</strong>
                        <br>
                        {% for exercice in day.workout.exercices %}
                        <span>{{ exercice }}</span> <br>
                        {% endfor %}
                    </td>
                    <td>{{ day.recipe }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</main>

<section></section>
{% endblock %}